.blobs {
  position: absolute;
  display: flex;
  transform: translateX(-50%);
  bottom: 3vh;
  left: 50%;
  height: 100px;
  width: 100px;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 9998;
}

.start-button {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    background: rgb(0 255, 0, 0.5);
    color: black;
    border: 5px solid black;
    border-radius: 10%;
    cursor: pointer;
    height: 100px;
    width: 150px;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 9px #686868;
  }
  .start-button:hover {
    background: rgb(0, 255, 0, 0.75);
  }
  
  .start-button:active {
    box-shadow: 0 2px #666;
    transform: translate(-50%) translateY(5px);
    background: rgb(0, 255, 0);
  }

  .finish-button {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    background: rgb(255, 0, 0, 0.5);
    color: black;
    border: 5px solid black;
    border-radius: 10%;
    cursor: pointer;
    height: 100px;
    width: 150px;
    z-index: 9999;
    transform: translate(-80%);
    box-shadow: 0 9px #686868;
  }

  .cancel-button-1:hover {
    background: rgb(255, 0, 0, 0.75);
  }
  
  .finish-button:active {
    box-shadow: 0 2px #666;
    transform: translate(-80%) translateY(5px);
  }

  .edit-button {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    background: rgb(0, 255, 0, 0.5);
    color: black;
    border: 5px solid black;
    border-radius: 10%;
    cursor: pointer;
    height: 100px;
    width: 150px;
    z-index: 9999;
    transform: translate(-80%);
    box-shadow: 0 9px #686868;
  }

  .edit-button:hover {
    background: rgb(0, 255, 0, 0.75);
  }
  
  .edit-button:active {
    box-shadow: 0 2px #666;
    transform: translate(-80%) translateY(5px);
    background: rgb(0, 255, 0);
  }

  .cancel-button {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    background: rgb(255, 0, 0, 0.5);
    color: black;
    border: 5px solid black;
    border-radius: 10%;
    cursor: pointer;
    height: 100px;
    width: 150px;
    z-index: 9999;
    left: 50%;
    transform: translate(30%);
    box-shadow: 0 9px #686868;
  }

  .cancel-button-2:hover {
    background: rgb(255, 0, 0, 0.75);
  }
  
  .cancel-button:active {
    box-shadow: 0 2px #666;
    background: rgb(255, 0, 0);
    transform: translate(30%) translateY(5px);
  }