.toolbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9998;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.toolbar-buttons {
  display: flex;
  font-weight: bold;
  font-size: 18pt;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px ;
  height: 100%;
  color: black;
  z-index: 9999;
}
.toolbar-buttons button {
  margin-right: 16px;
}